<app-navbar></app-navbar>
<div class="home content">
  <div class="center">
    <h1 class="center-h1">HOME</h1>
  </div>

  <div class="description">
    <mat-card
      style="
        margin: 0 -10rem;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 20px;
        font-family: description;
      "
    >
    Welcome to the home page of <b>TECH HOTEL</b> feel free to explore, make some reservations and to contact us any time.
    </mat-card>
  </div>

  <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <img src="../../assets/room.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/roomservice.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/pool.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/massage.jpg">
  </mat-grid-tile>
</mat-grid-list>

</div>