html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  box-sizing: border-box;
}

.content {
    widows: 100%;
    min-height: 100%;
    background: linear-gradient(rgba(12, 87, 119,.5), rgba(12, 87, 119,.5)), url("../src/assets/141533.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 10rem;
  }
  
  .navbar-offset {
    height: 100%;
    width: 25%;
    max-width: 30rem;
  }

  .center {
    widows: 100%;
    text-align: center;
    margin: 0 -10rem;
    font-size: 400%;
    padding: 1% 0 1%;
    color: #FFFFFF;
    background: linear-gradient(#159be9, rgba(12, 87, 119,.5));
  }

  .center-h1 {
    font-size: 4.5rem !important;
    font-family: bebas !important;
    padding-top: 30px;
    padding-bottom: 5px;
    color: white;
  }

  @font-face {
    font-family: bebas;
    src: url(./assets/fonts/BebasNeue-Regular.ttf) format("opentype");
  }
  
  @font-face {
    font-family: description;
    src: url(../src/assets/fonts/Gudea-Regular.ttf) format("opentype");
}
