<div class="create-container">
    <form [formGroup]="todoForm" (ngSubmit)="submitForm()">
      <div class="create-title">NEW POOL RENT</div>
      <div class="create-fields">
        <div class="field">
          <mat-form-field appearance="outline">
            <mat-label>Floaties</mat-label>
            <mat-select formControlName="floatiesNum" matNativeControl required>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field appearance="outline">
            <mat-label>Towels</mat-label>
            <mat-select formControlName="towelNum" matNativeControl required>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="buttons">
          <div class="create">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              class="create-raised"
              [disabled]="todoForm.invalid">
              <h4 class="create-button">ENTER</h4>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>