
 <p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>ID.</span>
      <span class="example-spacer">{{basicUser.id.toString()}} </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>NAME</span>
      <span class="example-spacer"> {{basicUser.name.toString()}} </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>USERNAME</span>
      <span class="example-spacer"> {{basicUser.username.toString()}}  </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>TYPE OF USER</span>
      <span class="example-spacer"> {{basicUser.typeOfUser.toString()}} </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>EMAIL</span>
      <span class="example-spacer"> {{basicUser.email.toString()}} </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>BIRTH DATE</span>
      <span class="example-spacer"> {{basicUser.birthDate.toString()}} </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>COUNTRY</span>
      <span class="example-spacer"> {{basicUser.address['country'].toString()}} </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>CITY</span>
      <span class="example-spacer"> {{basicUser.address['city'].toString()}} </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>STREET</span>
      <span class="example-spacer"> {{basicUser.address['street'].toString()}} </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>POSTAL CODE</span>
      <span class="example-spacer"> {{basicUser.address['postalCode'].toString()}} </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>REGISTRATION DATE</span>
      <span class="example-spacer">{{basicUser.registrationDate.toString()}} </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>NUMBER OF STAYS</span>
      <span class="example-spacer"> {{basicUser.numberOfStays.toString()}} </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>ROOM ID</span>
      <span class="example-spacer"> {{basicUser.roomId.toString()}} </span>
    </mat-toolbar-row>
  </mat-toolbar>
</p>