<app-navbar></app-navbar>
<div class="user-invoices content">
  <div class="center">
    <h1 class="center-h1">Invoices</h1>
  </div>

  <div class="description">
    <mat-card
      style="
        margin: 0 -10rem;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 20px;
        font-family: description;">
    All your <b>invoices</b> in Tech Hotel are displayed down bellow.
    </mat-card>
  </div>
  
  <div class="child-table">
  <app-invoice-list [invoiceList]="invoiceList"></app-invoice-list>
  </div>
</div>